.bg-epic {
	background-color: #c960ff;
}

.bg-uncommon {
	background-color: #319236;
}

.bg-rare {
	background-color: #4c51f7;
}

.bg-legendary {
	background-color: #f3af19;
}

.bg-marvel {
	background-color: #ea3537;
}

.bg-icon {
	background-color: #32a7a7;
}
